{% extends "taskpage/base.html" %} {% block title %}Task_listing{% endblock %}
{% block content %}
<button
  type="button"
  class="btn btn-primary my-3"
  data-toggle="modal"
  data-target="#exampleModal"
>
  Create New Task
</button>

<div class="row">
  {% for task in tasks %}
  <div class="col col-md-6">
    <table class="table table-striped">
      <thead class="table-success">
        <tr>
          <th scope="col" class="col-3">Task Name</th>
          <th class="col-9">{{task.title|upper}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Description</th>
          <td>{{task.description}}</td>
        </tr>
        <tr>
          <th scope="row">Date of create</th>
          <td>{{task.date}}</td>
        </tr>
        <tr>
          <th scope="row">Assign to</th>
          <td>
            {% for asign in task.asign.all%} {{asign.user_name}}, {% endfor%}
            <!-- {{task.asign.all|title}} -->
          </td>
        </tr>
        <tr>
          <th scope="row">Task Status</th>
          <td>
            {% if task.status %} Completed {% else %} Not completed {% endif%}
          </td>
        </tr>
        <tr>
          <th scope="row" colspan="2">
            <a href="{% url 'deleteTask' task.id  %}">
              <button type="button" class="btn btn-danger" onclick="">
                Delete Task
              </button>
            </a>
            <button
              type="button"
              class="btn btn-warning"
              data-toggle="modal"
              data-target="#exampleModal1"
              id="updateModal"
              onclick="changeactionUrl({{task.id}})"
            >
              Update Task Status
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>

<!-- Update task Modal -->
<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel1"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Update Task</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="" id="updateTask" role="form">
          {% csrf_token %}
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-4 pt-0">Task Status</legend>
              <div class="col-sm-8">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="status"
                    id="gridRadios1"
                    value="True"
                    checked
                  />
                  <label class="form-check-label" for="gridRadios1">
                    Completed
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="status"
                    id="gridRadios2"
                    value="False"
                  />
                  <label class="form-check-label" for="gridRadios2">
                    Not completed
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Create task Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Task</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          method="post"
          action="{% url 'saveTask' id %}"
          id="saveTask"
          role="form"
        >
          {% csrf_token %}
          <div class="form-group">
            <label for="title">Task Title</label>
            <input type="text" class="form-control" name="title" id="title" />
          </div>
          <div class="form-group">
            <label for="title">Task Desscription</label>
            <input
              type="text"
              class="form-control"
              name="description"
              id="description"
            />
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Task Status</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="status"
                    id="gridRadios1"
                    value="True"
                    checked
                  />
                  <label class="form-check-label" for="gridRadios1">
                    Completed
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="status"
                    id="gridRadios2"
                    value="False"
                  />
                  <label class="form-check-label" for="gridRadios2">
                    Not completed
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <label class="col-6" for="cars">Task Assign to:</label>
            <select name="asign" id="cars" multiple>
              {%for user in users%}
              <option value="{{user.id}}">{{user.user_name}}</option>
              {% endfor%}
            </select>
          </div>
          <div class="form-group my-3">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block extracssjs %}
<script>
  function changeactionUrl(task_id) {
    console.log(task_id);
    var str = "/" + task_id + "/updateTaskcl/";
    $("#updateTask").attr("action", str);
  }
</script>
{% endblock %}
